
/*Generals*/

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

.container {
    padding: 10px;
}

header {
    color: rgb(109, 110, 112);
}

header .container-fluid {
    z-index: 1;
}

header ul li {
    margin: 0 10px;
}

header ul li i {
    font-size: 15px;
    margin-left: 3px;
}


/*Section color e background*/

.jumbo {
    background-image: url(img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 80px;
    padding-top: 200px
}

.secondary-jumbo {
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    padding-top: 100px
}

.whats-new { background-color: rgb(31,31,31)}

.play-plus { background-color: rgb(190,188,187)}

.play-now {
    background-color: rgb(21,28,59);
}

footer {
    background-color: rgb(0,67,155);
}

.blue-line {
    
    background-color: rgb(44,100,230);
}

/*hover fx*/

.bttn:hover{
    cursor: pointer;
    transform: scale(105%);
}

header .bttn:hover {
    background-color:black;
}

.jumbo .bttn:hover {
    transform: scale(110%);
}

header li:hover {
    color: black;
    cursor: pointer;
}

header span:hover {
    color: black;
    cursor: pointer;
}

.card:hover {
    transform: translatey(-10%)
}

.card2:hover {
    border-bottom: 2px solid rgb(44,100,230);
}

.card2 {
    position: relative;
}

.card2:hover::before { /*Overlay*/
    content: "";
    background-color: rgba(0,0,0,5%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*Buttons, ne creo uno per tutti e poi sovrascrivo solo color e bg-color*/

.bttn {
    border-radius: 20px;
    background-color: white;
    padding:8px;
    display: inline-block;
    color: white;
    background-color: rgb(44,100,230);
}

header .bttn {
    background-color: rgb(54,54,54);
}

.play-plus .bttn {
    background-color:rgb(217,218,220) ;
    color: rgb(44,100,230) ;
}

.secondary-jumbo .bttn, .jumbo .bttn {
    background-color: rgb(205,61,16);
}

.play-now .bttn {
    background-color: rgb(245,245,245);
    color: black
}





