img {
    max-width: 100%;
}

.container {
    background-color: wheat;
    padding: 5px;
    border: 1px solid black;
}

.jumbo {
    background-image: url(img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.presentation .card {
    border-radius: 10px;
}

.blue-line {
    
    background-color: rgb(44,100,230);
}

.card2:hover {
    border-bottom: 2px solid rgb(44,100,230);
}

.secondary-jumbo {
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

.new-game img{ max-width: 100%;

}